<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="Redirect to YouTube Subscription Page" stopProcessing="true">
          <match url="^subscribe" />
          <condition>
            <add input="{REQUEST_METHOD}" pattern="^get$" />
          </conditions>
          <action type="Redirect" redirectType="Permanent" url="https://www.youtube.com/channel/UC3oE_YPB4AJVQSInC-yy3pw?sub_confirmation=1" />
        </rule>
      </rules>
    </rewrite>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" forwardWindowsAuthToken="false" stdoutLogEnabled="false" />
  </system.webServer>
</configuration>
